.single-product {
  display: flex;
  justify-content: space-between;
  background-color: #faf7f2;
  flex: 1 1 auto;
  flex-wrap: wrap;
  /* padding-right: 2%; */
}
.details-image {
  display: block;
  width: 100%;
}
.image-wrap {
  max-width: 60%;
  flex-basis: 60%;
}
.single-content {
  /* padding-right: 2%; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.65;
  flex-basis: 40%;
}

.details-heading {
  font-size: 18px;
  padding: 20% 0 4% 0;
}
.details-price {
  font-size: 15px;
  color: #6a6a6a;
  padding-bottom: 10%;
}
.word {
  font-family: "Nunito sans", "sans-serif";
  font-size: 14px;
  color: #1c1b1b;
  font-weight: 400;
}
.quant-list {
  /* border: 1px solid black; */
  padding-bottom: 20%;
}

.details-button {
  display: block;
  border: 1px solid black;
  background-color: #ad5c1c;
  align-items: center;
  width: 70%;
  height: 5%;
  color: #f9f6f2;
  font-size: 12px;
}
.description {
  padding: 2% 0;
}

button:disabled,
button[disabled] {
  visibility: hidden;
}

.Button_Secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.Button_Secondary:hover {
  color: var(--secondary-color);
}
.quant-list {
  font-size: 12px;
  width: 100%;
  outline-style: none;
  margin: 0 0 20% 0;
}
.category {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .image-wrap {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .image-wrap {
    max-width: 100%;
    flex-basis: 100%;
  }
}
