@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
body {
  background-color: #faf7f2;
}
* {
  font-family: "Montserrat", sans-serif;
  color: #ad5c1c;
  letter-spacing: 0.2em;
  margin: 0;
  font-size: 14px;
}
*,
::after,
::before {
  box-sizing: border-box !important;
}

.banner {
  display: block;
  width: 100%;
}
.menu {
  width: 33.333333%;
  display: block;
}
.visit {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  flex-wrap: wrap;
  margin: 0 10%;
}
.visitimage {
  max-width: 70%;
  flex-basis: 70%;
  display: block;
}
.visit-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 30%;
  padding: 5%;
  background-color: #ffffff;
}
.visit-content > * {
  padding-bottom: 5px;
  color: black;
}
.category {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-around;
  background-color: white;
}
.image_shop {
  max-width: 100%;
  display: block;
}
.Button {
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  cursor: pointer;
  border-color: #ad5c1c;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  background-color: #ad5c1c;
  transition-duration: 0.6s;
  color: white;
}
.Button:hover {
  color: #ad5c1c;
  background-color: white;
}
.home-category {
  flex-basis: 30%;
  margin: 20px;
  background-color: white;
}
.image-shop {
  max-width: 100%;
}
.category-text {
  margin: 10px;
  font-size: 24px;
}
.category-content {
  padding: 10%;
}
.svg-icon {
  fill: black;
  cursor: pointer;
}
.svg-icon:hover {
  fill: currentColor;
}
select,
input {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  border-width: 1px;
}
@media only screen and (max-width: 768px) {
  .category {
    width: 100%;
  }
  .visit-content {
    flex-basis: 70%;
    height: 50%;
  }
}

@media only screen and (max-width: 320px) {
  .category {
    width: 100%;
  }
}
